<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.sss.lms.mapper.TSstudentEnteredMapper">

  <select id="notEnterCount" resultType="java.lang.Integer">
  SELECT COUNT(*)
    FROM t_student_attendance
    WHERE lms_user_id = #{lmsUserId}
     AND delete_flg = #{deleteFlg}
     AND training_date &lt; #{trainingDate}
     AND status ! = 1
     AND (training_start_time = ''
     OR training_end_time = ''
     OR training_start_time IS NULL
     OR training_end_time IS NULL)
  
  </select>
  
  </mapper>
  
